@import url("./font.css");

*{
  font-family: "Overpass";
}

body{
  background: #22292b;
}



.bg-red{
  background: #f00;
}
.bg-green{
  background: #0f0;
}
.bg-blue{
  background: #00f;
}

.button.tile {
  position: relative;
  width: 12em;
  height: 12em;
  cursor: pointer;
  border: solid 0;
  border-radius: 0.5em;
  background: #2692c0;
  /*background: #4d585d; */
  overflow: hidden;
  transition: background 250ms, color 250ms;
  color: #22292b;
}
.button.tile:hover {
  background: #2281aa;
  color: #96d0ea;
}
.button.tile:active {
  background: #2aa2d5;
  color: #4d585d;
}

.button.tile .text {
  
  position: absolute;
  
  bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1.2em; 
  width: 11em;
  white-space: nowrap;
}
.button.tile .icon-container{
  position: absolute;
  top: 3em;
  left: 0em;
  width: 100%;
}

.button.tile .icon {
  
  left: 0.6em;
  

  font-size: 5em;
}



.button.tile .badge-list{
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  
  font-size: 1.7em;


}

.button.tile .badge-list .badge{
  margin-right: 0.2em;
}


.textbox-container {
  background: #4d585d;
  border-radius: 2em;
  height:2em;
  overflow: hidden;
  display: flex;
}

.textbox-container .textbox{
  background: rgba(0,0,0,0); 
  border: solid 0;
  height:100%;
  width: 100%;
  padding: 1em;
  color: #22292b;
  font-size: 1em;
  text-align: center;
}

.textbox-container .icon{
  margin-top: 0.5em;
  margin-left: 0.5em;
  color: #22292b;
}
.textbox-container .textbox:focus {

    outline-width: 0;
}
